
/*卡片外容器样式*/
.cc-card-container{
  position: absolute;
  background-color: none;
  border: none;

}

.cc-card-body.folded{
  position: absolute;  
  height:15px;
  min-width:15px;
  min-height:15px;
  max-height:15px;
  border-radius:7.5px;
  text-align:center;
  padding-bottom:3px
}

.cc-card-toolbar{
  position:absolute;
  top:-30px;
  width:200px;
}

.cc-card-body.not-folded{
  position:absolute;
  overflow:hidden;
  padding:10px;
  box-shadow: 0 2px 6px 0 rgba(16, 42, 75, 0.493);
  border-radius:5px
}
.not-folded .subtypetag{
  float:right
}
.cc-card-body.cc-link{
  border-radius: 30px;
}
/*工具栏和面板样式*/
.drawer-button-container{
  position: fixed;
  top:2vh;
  left:calc(100vw - 200px);
  z-index:3000;
}
.drawer-button-container .is-circle{
  border-style: solid ;
  border-width: 2px; 
  border-color:var(--b3-theme-primary);
  background-color:var(--b3-theme-primary-light)
}
.el-drawer__body{
  padding:30px;
  overflow:scroll;
  overflow-x: hidden;
}
.layout{
 z-index:1;
 width:100%;
 height: 100%;
}
.toolbar {
    position: fixed !important;
    margin: 0px !important;
    z-index:500 !important;
}
.background,.background *{
    z-index:-1;
}
html,body,#app{
    margin:0px;
    padding:0px;

}
.layer {
    overflow: hidden;
}


.resizer
 {
    position: absolute;
    background-color: lightskyblue;
    border: 1px solid black;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    box-model: border-box;
    -webkit-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow: scroll;
  }
  
.resizer-tl {
    top: -7px;
    left: -7px;
    cursor: nw-resize;
  }
  
  .resizer-tm {
    top: -7px;
    left: 50%;
    margin-left: -3.5px;
    cursor: n-resize;
  }
  
  .resizer-tr {
    top: -7px;
    right: -7px;
    cursor: ne-resize;
  }
  
  .resizer-ml {
    top: 50%;
    margin-top: -3.5px;
    left: -7px;
    cursor: w-resize;
  }
  
  .resizer-mr {
    top: 50%;
    margin-top: -3.5px;
    right: -7px;
    cursor: e-resize;
  }
  
  .resizer-bl {
    bottom: -7px;
    left: -7px;
    cursor: sw-resize;
  }
  
  .resizer-bm {
    bottom: -7px;
    left: 50%;
    margin-left: -3.5px;
    cursor: s-resize;
  }
  
  .resizer-br {
    bottom: -7px;
    right: -7px;
    cursor: se-resize;
  }
  
  .resizer-tl:hover,
  .resizer-tr:hover,
  .resizer-bl:hover,
  .resizer-br:hover {
    background-color: lightyellow;
    transform: scale(1.4);
  }
  .el-collapse{
    max-height:100%;
    overflow: hidden;
}

.toolbar-body {
    border: solid 1px;
    max-height:100%;
    height:100%;
    border-color: var(--b3-border-color);
    overflow: scroll;
    overflow-x: hidden

}
.el-popover.tagpoper,
.el-popover .el-popper.tagpoper {
  padding: 0;
  background-color: transparent;
  border: none;
}

.el-icon-browser {
  background: url("/widgets/cc-baselib/icons/browser-o.svg") center no-repeat;
  background-size: contain;
}

.el-icon-browser::before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

.el-icon-siyuan {
  background: url("/widgets/cc-baselib/icons/siyuan.svg") center no-repeat;
  background-size: contain;
}

.el-icon-siyuan::before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

.el-icon-focus {
  background: url("/widgets/cc-baselib/icons/focus.svg") center no-repeat;
  background-size: contain;
}

.el-icon-focus::before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

.el-icon-markdown {
  background: url("/widgets/cc-baselib/icons/markdown.svg") center no-repeat;
  background-size: contain;
}

.el-icon-markdown::before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}


.draggable {
  padding: 0px;
}
.fullscreen{

}

.ccbackground{
      position: fixed;
      left:0px;
      top:0px;
      z-index:  1;;
  }

.fixed{
  position: fixed;
}
.fullscreen{
  width:100vw;
  height:100vw
}
html{
  overflow:scroll !important;
}

.cc-card-content{
  max-height: calc(100% - 10px);
  overflow:scroll !important
}

.cc-graph{
position: fixed !important;
}
.toolbar.toolbar-view{
background-color: transparent;
}